@*@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "School | Students";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>School | Students</title>
</head>
<body>
    <div class="columns">
        <div class="column">
            @{

                foreach (Student s in Model.GetStudents)
                {
                    @await Html.PartialAsync("_StudentCardAdvanced", s);
                }

            }
        </div>

    </div>
</body>
</html>*@