<div class="card w-100">
    <div class="card-body">
        <p class="card-text">@Model.Person.UserProfile.FirstName @Model.Person.UserProfile.MiddleName @Model.Person.UserProfile.LastName</p>
    </div>
</div>